.searchTrack {
    background-color: #121212;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    font: caption;
    color: #696969;
}

.button {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.buttonIcon {
    width: 100px;
    height: 100px;
}