.navbar {
    background-color: #1DB954;
    font: caption;
    font-size: 300%;
    display: grid;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.queue {
    color: #121212;
    text-decoration: none;
}

.search {
    color: #121212;
    text-decoration: none;
}